@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Montserrat", sans-serif;
    --fonte3: "Sriracha", cursive;

    --cor1: #6d412a; /*#5C3A25*/
    --cor2: #ea4aac; /*#EF9F9B*/
    --cor3: #ffeee2; 
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    background-color: var(--cor3);
    
  }
header > h1 {

    display: inline-block;
    text-align: center;
    padding-left: 20px;
    color: var(--cor1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
}
.logo {

    height: 100px;
    padding-left: 150px;
}
div.imagem {
    padding: 0px;
    margin: 0px;
    background-image: url(imagens/cookies_empilhados.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--cor1);
    height: 90vh;
}

 div{
margin: 4vw;
}
div.texto{
    display: inline-block;
    width: 300px;
    height: 00vh300px;
    text-align: justify;
    font-size: 1.3em;
}
div.quadrado {
    width: 200px;
    height: 300px;
    display: inline-block;
    padding-left: 100px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 50px;   
}


.foto {
    height: 300px;
}

html, body {
    font-family: var(--fonte3);
}

section {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: center;
    
}

section > p {
    text-align: justify;
    padding: 5px;
}


main {
    min-width: 400px;
    max-width: 2000px;
    padding: 15vw;
    padding-top: 5px;
    padding-bottom: 30px;
    margin: auto;
    background-color: var(--cor1);
    background-attachment: fixed;
    background-size: 100px;
}

nav {
    background-image: linear-gradient(to left, var(--cor1), #ef9f9bd7);
    font-family: var(--fonte3);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

nav > a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    border-radius: 10px;
    color: var(--cor3);
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px 0px black;
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
}


main > p {
    text-align: justify;
    padding: 10px;
    font-size: 1.5em;
}
section > h2 {
    color: var(--cor1);
    padding: 20px
}

footer {
    font-family: var(--fonte3);
    text-align: center;
    color: white;
    background-color: var(--cor1);
}

footer > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}