@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Montserrat", sans-serif;
    --fonte3: "Sriracha", cursive;

    --cor1: #5C3A25;
    --cor2: #EF9F9B;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte2);
}

main {
    min-width: 400px;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    background-color: rgba(245, 192, 192, 0.493);
    border-radius: 10px;
    background-attachment: fixed;


}


nav {
    
    background-image: linear-gradient(to left, #eb1e9d3a, #EF9F9B);
    font-family: var(--fonte3);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

nav > a {
    padding: 10px;
    font-size: 2.5vw;
    border-radius: 10px;
}

p {
    text-align: justify;
    padding-top: 10px;

}

section > h2 {
    color: var(--cor1);
    padding: 20px
}

nav > a {
   color: var(--cor1);
   text-decoration: none;
   font-weight: bolder;
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
}

footer {
    font-family: var(--fonte3);
    text-align: center;
    color: white;
    background-color: var(--cor1);
}

footer > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}